<!--
You may use this in any way, on any site, all we ask is that you please keep the link(s) crediting the author.   Though this is not mandatory, it is certainly appreciated.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>REST Interface</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<div id="mainContentArea">
	<div id="contentBox">
        <div id="linkGroup">
            <div class="link"><a href="insertStudent?firstname=carlos&lastname=carlson&id=666">Insert</a></div>
            <div class="link"><a href="justweather">Scrape</a></div>
            <div class="link"><a href="callClient">Call Client</a></div>
            <div class="link"><a href="weather">Weather</a></div>
            <div class="link"><a href="student">Search</a></div>
            <div class="link"><a href="pingpong">Ping Pong</a></div>
            <div class="link"><a href="pingserver">Hprose</a></div>
        </div>

        <div id="blueBox">
          <div id="header"></div>
          <div class="contentTitle">Welcome to the REST Interface.</div>
            <div class="pageContent">
              <p>This page is for navigating to the different features for this interface</p>
            </div>
            <div id="footer">B00084475 - Carl Brady</div>
        </div>
	</div>
</div>
</body>
</html>
